/* Expense.css */
.container {
  max-width: 1000px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
  padding: 10px;
}

.form-select {
  padding: 10px;
}

.btn-secondary {
  border-radius: 5px;
}

button {
  margin-top: 20px;
}

textarea {
  resize: none;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
  align-items: center;
}
