/* SignUp.module.css */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .container {
    background-color: white;
    width: 100%;
    max-width: 1200px;
  }
  
  .title {
    font-size: 40px;
    font-weight: bolder;
  }
  
  .subtitle {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  
  .contentRow {
    display: flex;
    flex-wrap: wrap;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image {
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: contain;
  }

  .profileImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .imageInput {
    width: 100%;
    max-width: 300px;
    padding: 7px;
    border: 1px solid #cbd5e0;
    border-radius: 7 px;
    font-size: 15px;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 30px;
    }
  
    .subtitle {
      font-size: 20px;
    }
  
    .imageContainer {
      order: -1;
    }
  }
  
  @media (min-width: 769px) {
    .contentRow {
      flex-wrap: nowrap;
    }
  
    .imageContainer {
      flex: 1;
      padding-right: 20px;
    }
  }