.leftnav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 210px;
  background-color: #abddb7 !important;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  z-index: 999;
}

.leftnav.hidden {
  transform: translateX(-100%);
}

/* Logo Section */
.logo-section {
  display: flex;
  align-items: center;
  padding: 1px;
  margin-bottom: 25px;
}

.logo {
  height: 53px;
  margin-right: 10px;
}

.logo-title {
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Navigation List */
.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  display: flex;
  align-items: center;
  margin: 18px 0; /* Increased spacing */
  padding: 10px;
  border-bottom: 1px solid white;
  font-size: 16px;
}

.nav-icon {
  margin-right: 10px; /* Added space between icon and text */
  font-size: 18px;
  color: #080505; /* Ensure the icon color matches the theme */
}

.nav-list li:hover {
  background-color: #f1f1f1;
  color: #14A44D;
}

.nav-list li a {
  color: #110d0d;
  text-decoration: none;
}

.nav-list li:hover a {
  color: #14A44D; /* Make text color change on hover */
}

/* Logout Section */
.logout-section {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
}

.logout-section a {
  color: #080505;
  margin-left: 10px;
  text-decoration: none;
}

.logout-section:hover a {
  color: #14A44D;
}
